<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все ячейки</title>
</head>
<body>

<div >
    <table style="border: 1px solid grey;  border-collapse: collapse">
        <tr>
            <th></th>
            <th style="border: 1px solid grey">A</th>
            <th style="border: 1px solid grey">B</th>
            <th style="border: 1px solid grey">C</th>
            <th style="border: 1px solid grey">D</th>
        </tr>
        <tr th:each = "line: ${AllLines}">
            <th th:text="${line.getId}", style="border: 1px solid grey"> </th>
            <td style="border: 1px solid grey">
                <form th:method="PATCH" th:action="@{/table/{id} (id=${line.getId})}" th:object="${line}">
                    <input th:name=a th:value="${line.a}">
            </form>
            </td>
            <td style="border: 1px solid grey">
                <form th:method="PATCH" th:action="@{/table/{id} (id=${line.getId})}" th:object="${line}">
                <input th:name=b th:value="${line.b}" >
            </form></td>
            <td style="border: 1px solid grey">
                <form th:method="PATCH" th:action="@{/table/{id} (id=${line.getId})}" th:object="${line}">
                <input th:name=c th:value="${line.c}" >
            </form></td>
            <td style="border: 1px solid grey">
                <form th:method="PATCH" th:action="@{/table/{id} (id=${line.getId})}" th:object="${line}">
                <input th:name=d th:value="${line.d}" >
            </form></td>
        </tr>
    </table>

</div>
<br/>
</body>
</html>